<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>

        <title>Article Creator | The PC Radar</title>

        <!-- Stop from appearing on search engines -->
        <meta name="robots" content="noindex">

        <link rel="icon" type="image/x-icon" href="/favicon.svg">

        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/nav.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <link rel="stylesheet" href="/styles/article.css">
        <link rel="stylesheet" href="/styles/template.css">

        <script src="/article/template/article-loader.js" defer></script>
    </head>
    <body>
        <aside id="article-editor"></aside>

        <div class="website-url" id="website-url"></div>
        <div class="website-preview">
            <main class="article" id="article"></main>
        </div>
    </body>
</html>