main {
    h1 {
        margin-bottom: 3rem;

        max-width: 50%;

        font-size: 4rem;

        text-align: center;
    }

    p {
        margin-bottom: 2rem;

        max-width: 50%;

        font-size: 1.25rem;

        text-align: center;
    }
}