.article {
    text-align: center;

    header {
        max-width: 65%;

        h1 {
            font-size: 4em;
        }

        h3 {
            color: var(--secondary-text-colour);

            font-weight: 400;
        }

        p {
            margin-top: 3em;

            font-size: 1.25em;
        }
    }

    section {
        margin-top: 6em;

        max-width: 75%;

        h2 {
            margin-bottom: 2em;

            font-size: 3em;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            gap: 3em;
            justify-content: center;

            .image {
                width: 450px;

                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                }

                a {
                    width: fit-content;

                    color: var(--secondary-text-colour);

                    text-align: left;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 0.75em;
                }

                a:hover {
                    text-decoration: underline;
                }
            }

            .info {
                width: 450px;

                display: flex;
                flex-direction: column;
                gap: 1em;

                text-align: left;

                .info-section {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;

                    h4 {
                        font-size: 1.25em;
                    }

                    p {
                        color: var(--secondary-text-colour);

                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.75em;
                    }

                    svg {
                        height: 1em;
                    }
                }
            }
        }

        button {
            position: relative;

            margin-top: 2em;

            padding: 0.75em 1.25em;

            color: var(--accent-colour);

            border: 2px solid var(--accent-colour);
            border-radius: 0.5em;

            background-color: transparent;

            overflow: hidden;

            cursor: pointer;

            transition: color 0.25s;
        }


        button:hover {
            color: white;
        }

        button::before {
            content: "";

            position: absolute;
            inset: 0;

            background-color: var(--accent-colour);

            translate: 0 100%;

            z-index: -1;

            transition: translate 0.25s;
        }

        button:hover::before {
            translate: 0;
        }
    }

    .conclusion {
        margin-top: 3em;

        font-size: 1.25em;
    }

    .vote-container {
        margin-top: 5em;

        min-width: 200px;
        width: 50%;
        max-width: 500px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: var(--accent-colour);
            font-size: 1.5em;
            font-weight: 500;
        }

        .vote-button-container {
            display: flex;
            flex-direction: column;

            .vote-btn {
                background-color: transparent;

                border: none;

                cursor: pointer;

                svg {
                    height: 3em;

                    fill: var(--accent-colour);
                }

                svg:hover {
                    opacity: 0.5;
                }
            }

            .vote-btn.active#upvote-btn svg {
                fill: var(--green-colour);
            }

            .vote-btn.active#downvote-btn svg {
                fill: var(--red-colour);
            }
        }
    }
}

@media (max-width: 550px) {
    .article {
        font-size: 0.75rem;
    }
}