.article {
    text-align: center;
}

.article header {
        max-width: 65%;
}

.article header h1 {
        font-size: 4em;
    }

.article header h3 {
    color: var(--secondary-text-colour);

    font-weight: 400;
}

.article header p {
    margin-top: 3em;

    font-size: 1.25em;
}

.article section {
    margin-top: 6em;

    max-width: 75%;
}

.article section h2 {
    margin-bottom: 2em;

    font-size: 3em;
}

.article section .content {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
}

.article section .content .image {
    width: 450px;

    display: flex;
    flex-direction: column;
}

.article section .content .image img {
    width: 100%;
}

.article section .content .image a {
    width: fit-content;

    color: var(--secondary-text-colour);

    text-align: left;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.75em;
}

.article section .content .image a:hover {
    text-decoration: underline;
}

.article section .content .info {
    width: 450px;

    display: flex;
    flex-direction: column;
    gap: 1em;

    text-align: left;
}
.article section .content .info .info-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.article section .content .info .info-section h4 {
    font-size: 1.25em;
}

.article section .content .info .info-section p {
    color: var(--secondary-text-colour);

    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;
}

.article section .content .info .info-section p svg {
    height: 1em;
}

.article section button {
    position: relative;

    margin-top: 2em;

    padding: 0.75em 1.25em;

    color: var(--accent-colour);

    border: 2px solid var(--accent-colour);
    border-radius: 0.5em;

    background-color: transparent;

    overflow: hidden;

    cursor: pointer;

    transition: color 0.25s;
}


.article section button:hover {
    color: white;
}

.article section button::before {
    content: "";

    position: absolute;
    inset: 0;

    background-color: var(--accent-colour);

    translate: 0 100%;

    z-index: -1;

    transition: translate 0.25s;
}

.article section button:hover::before {
    translate: 0;
}

.article .conclusion {
    margin-top: 3em;

    font-size: 1.25em;
}

.article .vote-container {
    margin-top: 5em;

    min-width: 200px;
    width: 50%;
    max-width: 500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article .vote-container p {
    color: var(--accent-colour);
    font-size: 1.5em;
    font-weight: 500;
}

.article .vote-container .vote-button-container {
    display: flex;
    flex-direction: column;
}

.article .vote-container .vote-button-container .vote-btn {
    background-color: transparent;

    border: none;

    cursor: pointer;
}

.article .vote-container .vote-button-container .vote-btn svg {
    height: 3em;

    fill: var(--accent-colour);
}

.article .vote-container .vote-button-container .vote-btn svg:hover {
    opacity: 0.5;
}

article .vote-container .vote-button-container .vote-btn.active#upvote-btn svg {
    fill: var(--green-colour);
}

article .vote-container .vote-button-container .vote-btn.active#downvote-btn svg {
    fill: var(--red-colour);
}

@media (max-width: 550px) {
    .article {
        font-size: 0.75rem;
    }
}