* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    --primary-bg-colour: #ACD0E6;
    --secondary-bg-colour: #8ACBF1;
    --accent-colour: #33A1E0;
    --primary-text-colour: #062B40;
    --secondary-text-colour: #044b73;
    --border-colour: #BCCCDC;
    --red-colour: rgb(239, 117, 117);
    --green-colour: rgb(72, 206, 72);

    color: inherit;

    font-family: "Poppins", Airal;
}

:root {
    scrollbar-width: thin;

    background-color: var(--primary-bg-colour);

    color: var(--primary-text-colour);
}

body {
    padding-top: 5.5rem;

    background-image: url(/bg-img.png);
}

main {
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 3rem;
}

b {
    font-weight: 500;
}