h1 {
    margin-bottom: 1rem;

    font-size: 4rem;

    text-align: center;
}

h2 {
    margin-top: 2rem;

    text-align: center;
}

p, ul {
    margin-top: 1rem;

    width: 50%;
    min-width: 300px;
}