:root {
    background-color: white;
}

.upload-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    background-color: rgba(0, 0, 0, 0.75);

    pointer-events: none;

    opacity: 0;
}

.upload-overlay.active {
    opacity: 1;
}

.upload-overlay p {
    color: white;

    font-size: 3rem;
}

.upload-box {
    position: fixed;
    inset: 0;

    z-index: 9999;

    opacity: 0;

    display: none;
}

:has(.upload-overlay.active) .upload-box {
    display: block;
}

.close-btn {
    margin-top: 2rem;

    background-color: transparent;

    border: none;

    cursor: pointer;
}

.close-btn svg {
    height: 2rem;

    fill: var(--accent-colour);

    transition: fill 0.25s;
}

.close-btn:hover svg {
    fill: white;
}

.export-options {
    position: absolute;
    inset: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    z-index: 999;

    background-color: rgba(0, 0, 0, 0.75);
}

.export-options .export-btn {
    position: relative;

    padding: 0.75em 5em;

    color: var(--accent-colour);

    border: 2px solid var(--accent-colour);
    border-radius: 0.5em;

    background-color: transparent;

    overflow: hidden;

    cursor: pointer;

    transition: color 0.25s;
}

.export-options .export-btn:hover {
    color: white;
}

.export-options .export-btn::before {
    content: "";

    position: absolute;
    inset: 0;

    background-color: var(--accent-colour);

    translate: 0 100%;

    z-index: -1;

    transition: translate 0.25s;
}

.export-options .export-btn:hover::before {
    translate: 0;
}

.load-options {
    position: absolute;
    inset: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    z-index: 999;

    background-color: rgba(0, 0, 0, 0.75);
}

.load-options .load-options-title {
    color: var(--accent-colour);

    font-weight: 700;
    font-size: 3rem;
}

.load-options .projects-container {
    position: relative;

    height: 50%;
    min-height: 300px;

    width: 50%;
    min-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;
    padding-top: 5rem;

    background-color: var(--primary-bg-colour);

    border-radius: 1rem;

    overflow: scroll;
}

.load-options .projects-container .project-btns {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;

    box-sizing: content-box;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 0 2rem;

    background-color: var(--secondary-bg-colour);
}

.load-options .projects-container .project-btns .project-btn {
    display: flex;
    align-items: center;

    background-color: transparent;

    border: none;

    cursor: pointer;
}

.load-options .projects-container .project-btns .project-btn svg {
    height: 2rem;

    stroke: var(--primary-text-colour);

    transition: stroke 0.25s;
}

.load-options .projects-container .project-btns .project-btn:hover svg {
    stroke: white;
}

.load-options .projects-container .article-project {
    height: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background-color: var(--secondary-bg-colour);

    border-radius: 0.5rem;

    cursor: pointer;

    overflow: hidden;
}

.load-options .projects-container .article-project p {
    position: relative;

    flex: 1;

    text-wrap: nowrap;
    font-weight: 500;

    overflow: hidden;
}

.load-options .projects-container .article-project p::before {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3rem;

    background-image: linear-gradient(90deg, transparent, var(--secondary-bg-colour));
}

.load-options .projects-container .article-project p .open-tag {
    color: white;

    font-weight: 700;
}

.load-options .projects-container .article-project button {
    height: 2rem;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.load-options .projects-container .article-project button svg {
    height: 2rem;

    stroke: var(--primary-text-colour);

    transition: stroke 0.25s;
}
    
.load-options .projects-container .article-project button:hover svg {
    stroke: white;
}

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;

    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    background-color: var(--primary-bg-colour);

    overflow-y: scroll;

    z-index: 99;
}

aside .project-options {
    width: 100%;

    display: flex;
    gap: 1rem;
}

aside .project-options .project-btn {
    max-width: 100%;

    display: flex;
    justify-content: center;

    padding: 0.25rem 0.5rem;

    background-color: var(--secondary-bg-colour);

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;

    transition: color 0.25s, background-color 0.5s;
}

aside .project-options .project-btn:hover {
    color: white;
    background-color: var(--accent-colour);
}

aside .editor-group {
    width: 100%;

    padding: 0.75rem;

    background-color: var(--secondary-bg-colour);

    border-radius: 0.5rem;
}

aside .editor-group h2 {
    margin-bottom: 0.5rem;

    font-size: 1.25rem;
}

aside .editor-group h2:has(~ span) {
    margin: 0;
}

aside .editor-group span {
    margin-bottom: 0.5rem;

    font-size: 0.75rem;
}

aside .editor-group input {
    width: 100%;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-text-colour);

    outline: none;
}

aside .editor-group input:focus {
    border-bottom: 1px solid white;
}

aside .editor-group textarea {
    min-height: 5rem;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    padding: 0.5rem;

    background-color: transparent;

    border: 1px solid var(--primary-text-colour);
    border-radius: 0.5rem;

    outline: none;
}

aside .items-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

aside .items-container .items-title {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

aside .items-container .items-title button {
    aspect-ratio: 1;
    height: 1.5rem;

    background-color: transparent;

    border: 1px solid var(--primary-text-colour);
    border-radius: 0.25rem;

    cursor: pointer;

    transition: all 0.25s;
}

aside .items-container .items-title button:hover {
    color: white;
    border-color: white;
}

aside .items-container .items-title button:active {
    opacity: 0.5;
}

aside .editor-group .item-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 0.75rem;

    background-color: var(--primary-bg-colour);

    border-radius: 0.5rem;
}

aside .editor-group .item-container .delete-btn {
    height: 2rem;

    width: unset;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

aside .editor-group .item-container .delete-btn svg {
    height: 100%;
}

aside .editor-group .item-container h3 {
    font-size: 1em;
}

aside .editor-group .item-container .editor-group .specs-title {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

aside .editor-group .item-container .editor-group .specs-title button {
    aspect-ratio: 1;
    height: 1.5rem;

    background-color: transparent;

    border: 1px solid var(--primary-text-colour);
    border-radius: 0.25rem;

    cursor: pointer;

    transition: all 0.25s;
}

aside .editor-group .item-container .editor-group .specs-title button:hover {
    color: white;
    border-color: white;
}

aside .editor-group .item-container .editor-group .specs-title button:active {
    opacity: 0.5;
}

aside .editor-group .item-container .item-specs-container {
    margin-top: 0.75rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 0.75rem;

    background-color: var(--primary-bg-colour);

    border-radius: 0.5rem;
}

aside .editor-group .item-container .item-specs-container h4 {
    font-size: 0.75rem;
}

.website-url {
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: calc(2rem + 35%);
    height: 3rem;

    background-color: var(--secondary-bg-colour);
    display: flex;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    font-weight: 500;

    box-shadow: 0 0 50px var(--primary-bg-colour);

    overflow: hidden;
}

.website-preview {
    position: absolute;
    inset: 2rem;
    top: 5rem;
    right: calc(2rem + 35%);

    box-sizing: unset;

    background-color: var(--primary-bg-colour);

    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    box-shadow: 0 0 50px var(--secondary-bg-colour);

    overflow: scroll;
}